.drawer {
  position: fixed;
  top: 0;
  z-index: 2;
  right: 0;
  &.open {
    width: 100%;
    box-shadow: 2px 0 8px rgba(0,0,0,.15);
    .drawerBackdrop {
      opacity: .6;
      height: 100%;
      animation: rcDrawerFadeIn .3s cubic-bezier(.78,.14,.15,.86);
      transition: none;
      backdrop-filter: blur(20px);
    }
    .contentWrapper{
      box-shadow: 2px 0 8px rgba(0,0,0,.15);
      height: 100%;
      width: 550px;
      transform: translateX(calc(100vw - 550px));
      transform-origin: bottom right;
      @media(max-width: 768px){
        width: 100%;
        transform: translateX(0%);
      }
    }
  }
  .drawerBackdrop {
    background: #000;
    opacity: 0;
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    right: 0;
    transition: opacity .3s cubic-bezier(.78,.14,.15,.86),height 0s ease .3s;
  }
  .contentWrapper {
    position: fixed;
    transform: translateX(100%);
    background: #e2e6e3;
    .content {
      height: 100%;
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        .arrow {
          border-radius: 50%;
          border: 1px solid rgb(198, 204, 199);
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          margin-left: 5px;
        }
        .header {
          .header-text {
            text-transform: uppercase;
            font-size: 0.8rem;
            color: #696969;
            letter-spacing: 1px;
          }
        }
      }
      .cart__body {
        flex:1;
        overflow-y: scroll;
        max-height: 500px;
        margin-bottom: 1rem;
        ul {
          padding-left: 20px;
          padding-right: 20px;
          list-style: none;
          margin-bottom: 2rem;
        }
      }
      .cart__total {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        display: grid;
        border-top: 1px solid #d0d0d0;
        box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15);
        .total {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
          margin-bottom: 10px;
          padding-top: 15px;
          .title {
            font-weight: lighter;
          }
        }
        .btn button {
          width: 100%;
        }
      }
    }
  }
}