button {
  color: white;
  border-radius: 4px;
  background: #4b5548;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 1rem 2rem;
  font-weight: bold;
  max-width: 157px;
  margin-top: 1rem;
  &:hover {
    background: rgb(43, 46, 43);
  }
}