.navbar__wrapper {
  .header {
    height: 56px;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-top: 0.5rem;
    color: #000;
    border-bottom: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    box-shadow: 0 2px 3px -3px grey;
    position: fixed;
    top: 0;
    width:93%;
    z-index: 9999;
    transition: all 0.25s ease-in-out 0s;
    background-color: #f5f5f4 !important;
    &.sticky {
      box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 15px;
      background: white;
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: var(--transition-theme);
      @media(max-width: 1400px){
          // padding: 25px 45px;
      }
      @media(max-width: 990px){
          // padding: 15px 25px;
      }
      .mobileMenu {
          cursor: pointer;
          @media(min-width: 991px){
              display: none;
          }
      }
      .section1 {
        display: flex;
        align-items: center;
        .logo {
          width: 163px;
          height: 44px;
          margin-right: 2rem;
          img {
            width: 100%;
          }
        }
        .menuItems {
          display: flex;
          flex-grow: 1;
          margin-right: 20px;
          @media(max-width: 990px){
            display: none;
          }
          ul {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-top: 0;
            li {
              margin: 0px 20px;
              list-style: none;
            }
          }
        }
      }
    }
  }
}