.navbar__wrapper {
  .header {
    height: 56px;
    padding-top: 0.5rem;
    color: #000;
    border-bottom: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    box-shadow: 0 2px 3px -3px grey;
    position: fixed;
    top: 0;
    width: calc(100% - 5rem);
    z-index: 1;
    transition: all 0.25s ease-in-out 0s;
    background-color: #f5f5f4 !important;
    &.sticky {
      box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 15px;
      background: white;
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .section1 {
        display: flex;
        align-items: center;
        .logo {
          width: 163px;
          height: 44px;
          margin-right: 2rem;
          img {
            width: 100%;
          }
        }
        .menuItems {
          display: flex;
          flex-grow: 1;
          margin-right: 20px;
          @media(max-width: 990px){
            display: none;
          }
          ul {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-top: 0;
            li {
              margin: 0px 20px;
              list-style: none;
            }
          }
        }
      }
      .section2 {
        display: flex;
        align-items: flex-start;    
        img {
          cursor: pointer;
          margin-right: 5px;
        }
      }
    }
  }
}