.item__wrapper {
  display: flex;
  flex-direction: column;
  background: #e2e6e3;
  text-align: center;
  padding: 3rem 2rem;
  justify-content: center;
  align-items: center;
  @media(max-width: 768px){
    padding: 2.5rem 0.5rem;
  }
  .description, .price {
    line-height: 1.5;
    margin: 0.5rem 0;
    font-size: 0.9rem;
  }
}